
body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 500px;
    position: relative;
}

th {
    border: 1px black solid;
    padding: 8px;
}

td {
    border: 1px black solid;
    padding: 8px;
    text-align: center;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}

thead, tfoot {
    background-color: rgb(68, 67, 67);
    color: white;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: rgb(68, 67, 67);
}

tbody > tr:nth-child(2n) {
    background-color: lightgray;
}